{% extends "base.html" %} {% block title %}Update{% endblock %}
{% block content %}
    <form method="POST">
        <h3 align="center">Update word</h3>
        <div class="form-group">
            <label for="word">Word English</label>
            <input
                    type="text"
                    class="form-control"
                    name="word"
                    placeholder="Enter word"
                    value="{{ word.word }}"
            />
        </div>
        <div class="form-group">
            <label for="pronoun">Meaning</label>
            <input
                    type="text"
                    class="form-control"
                    name="meaning"
                    placeholder="Enter meaning"
                    value="{{ word.meaning }}"
            />
        </div>
        <div class="form-group">
            <label for="pronoun">Pronoun</label>
            <input
                    type="text"
                    class="form-control"
                    name="pronoun"
                    placeholder="Enter pronoun"
                    value="{{ word.pronoun }}"
            />
        </div>
        <div class="form-group">
            <label for="pronoun">Type</label>
            <input
                    type="text"
                    class="form-control"
                    name="type"
                    placeholder="Enter type"
                    value="{{ word.type }}"
            />
        </div>
        <div class="form-group">
            <label for="pronoun">Link</label>
            <input
                    type="text"
                    class="form-control"
                    name="link"
                    placeholder="Enter link"
                    value="{{ word.link }}"
            />
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
{% endblock %}